<%- include('Partials/header'); %>
    <div class="main">
        <%- include('Partials/searchBar',{searchName:"Blocos",route:"Blocos"}); %>

        <div class="cards-container" id="cards-container">
            <% JSONBloco.Blocos.forEach((bloco) =>  { %>
                <%- include('Partials/card', {JSONCard: bloco,redirect: "bloco/"+bloco.id}) %>
            <% }) %>
        </div>
    </div> 
    <script src="<%=`${baseUrl}/`%>javascripts/Departamentos/Deparatamentos.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/CustomButton/customButton.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/Navbar/navbar.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/Cards2/card2.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/CustomLabel/customLabel.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/Busca/Busca.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/SideBar/SideBar.js"></script>


</body>
</html>