<%- include('Partials/header',{sidebarName:sidebarName}); %>

    <div id="calendarBody">

    </div>
    <div class="main">
        <div class="head">
            <div class="TituloBuscador">
                <h2>Salas</h2>
                <input type="text" name="buscador" placeholder="Buscar">
            </div>
            <div class="FiltroAdd">
                <button>Adicionar+</button>
                <button>Filtros</button>
            </div>
        </div>
        <div class="cards-container" id="cards-container">
            <% JSONSala.forEach((sala) =>  { %>
                <%- include('Partials/card', {JSONCard: sala,redirect: "sala/"+sala.id+"/computadores"}) %>
            <% }) %>
        </div>

    </div> 
    <script src="<%=`${baseUrl}/`%>javascripts/Salas/Salas.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/CustomButton/customButton.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/navbar/navbar.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/Cards2/card2.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/Calendar/calendar.js"></script> 

</body>
</html>



