<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/Salas/Salas.css">
    <link rel="stylesheet" href="../stylesheets/main/main.css">
    <link rel="stylesheet" href="../stylesheets/navbar/navbar.css">
    <link rel="stylesheet" href="../stylesheets/sidebar/sidebar.css">
    <link rel="stylesheet" href="../stylesheets/CustomButton/customButton.css">
    <link rel="stylesheet" href="../stylesheets/Cards2/card2.css">
    <link rel="stylesheet" href="../stylesheets/Calendar/calendar.css">

    <title>Sala</title>
</head> -->
<%- include('Partials/header'); %>

    <div id="calendarBody">

    </div>
    <div class="main">
        <div class="head">
            <div class="TituloBuscador">
                <h2>Salas</h2>
                <input type="text" name="buscador" placeholder="Buscar">
            </div>
            <div class="FiltroAdd">
                <button>Adicionar+</button>
                <button>Filtros</button>
            </div>
        </div>
        <div class="cards-container" id="cards-container">
            <% JSONSala.Salas.forEach((sala) =>  { %>
                <%- include('Partials/card', {JSONCard: sala,redirect: 'sala'}) %>
            <% }) %>
        </div>

    </div> 
    <script src="<%=`${baseUrl}/`%>javascripts/Salas/Salas.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/CustomButton/customButton.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/navbar/navbar.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/sidebar/sidebar.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/Cards2/card2.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/Calendar/calendar.js"></script> 

</body>
</html>



