<%- include('Partials/header',{sidebarName:sidebarName}); %>

    <div class="main">
        <%- include('Partials/searchBar',{searchName:"Salas",route:"Salas"}); %>

        <div class="cards-container" id="cards-container">
            <% JSONSala.forEach((sala) =>  { %>
                <%- include('Partials/card', {JSONCard: sala,redirect: "sala/"+sala.id}) %>
            <% }) %>
        </div>

    </div> 
    <script src="<%=`${baseUrl}/`%>javascripts/Salas/Salas.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/CustomButton/customButton.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/Cards2/card2.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/Navbar/navbar.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/Busca/Busca.js"></script>

</body>
</html>



