<%- include('Partials/header'); %>
    <div class="main">
        <div class="head">
            <div class="TituloBuscador">
                <h2>Usuarios</h2>
                <input type="text" name="buscador" placeholder="Buscar">
            </div>
            <div class="FiltroAdd">
                <button>Adicionar+</button>
                <button>Filtros</button>
            </div>
        </div>
        <div class="cards-container" id="cards-container">
            <% JSONUsers.Users.forEach((user,index) =>  { %>
                <% if (index % 2 == 0) { %>
                    <%- include('Partials/userLabel', {JSON: user, evenOddHandle: ''}) %>
                <% } else { %>
                    <%- include('Partials/userLabel', {JSON: user, evenOddHandle: 'background-light'}) %>
                <% } %>
            <% }) %>
        </div>
    </div> 
    <script src="<%=`${baseUrl}/`%>javascripts/Usuarios/Usuarios.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/CustomButton/customButton.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/navbar/navbar.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/CustomLabel/customLabel.js"></script>
</body>
</html>