<%- include('Partials/header'); %>
    <div class="main">
        <%- include('Partials/searchBar',{searchName:"Usuarios",route:"Users"}); %>

        <div class="cards-container user" id="cards-container">
            <% JSONUsers.forEach((user,index) =>  { %>
                <% if (index % 2 == 0) { %>
                    <%- include('Partials/userLabel', {JSON: user, evenOddHandle: ''}) %>
                <% } else { %>
                    <%- include('Partials/userLabel', {JSON: user, evenOddHandle: 'background-light'}) %>
                <% } %>
            <% }) %>
        </div>
    </div> 
    <script src="<%=`${baseUrl}/`%>javascripts/Usuarios/Usuarios.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/CustomButton/customButton.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/Navbar/navbar.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/CustomLabel/customLabel.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/Busca/Busca.js"></script>
    <script src="<%=`${baseUrl}/`%>javascripts/SideBar/SideBar.js"></script>
</body>
</html>