<div class="ext" onclick='redirectToDep("<%=`${redirect}/`%>")'>
    <% if (!!JSONCard.img) { %>
        <img src="<%=`${JSONCard.img}`%>" alt="imagem">
    <% } else { %>
        <img src="<%=`${baseUrl}/images/ft-fachada-deti.jpg`%>" alt="imagem">
    <% } %>
    <!-- <img src="<%=`!!JSONCard.img ? JSONCard.img : ${baseUrl}/images/ft-fachada-deti.jpg`%>" alt="imagem"> -->
    <p>
        <%=`${JSONCard.name}`%>
    </p>
    <p class="tooltip">
        <%=`${JSONCard.subname}`%>
        <span class="tooltiptext">
            <%=`${JSONCard.subname}`%>
        </span>
    </p>
    <p>
        <%=`${JSONCard.numberOrRole}`%>
    </p>
</div>