<div class="ext" onclick='redirectToDep("<%=`${redirect}/`%>")'>
    <img src="<%=`${baseUrl}/`%>images/ft-fachada-deti.jpg" alt="imagem">
    <p>
        <%=`${JSONCard.name}`%>
    </p>
    <p class="tooltip">
        <%=`${JSONCard.subname}`%>
        <span class="tooltiptext">
            <%=`${JSONCard.subname}`%>
        </span>
    </p>
    <p>
        <%=`${JSONCard.numberOrRole}`%>
    </p>
</div>