<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="<%= `${baseUrl}/` %>stylesheets/main/main.css">
    <link rel="stylesheet" type="text/css" href="<%= `${baseUrl}/` %>stylesheets/Departamentos/Departamentos.css">
    <link rel="stylesheet" type="text/css" href="<%= `${baseUrl}/` %>stylesheets/navbar/navbar.css">
    <link rel="stylesheet" type="text/css" href="<%= `${baseUrl}/` %>stylesheets/sidebar/sidebar.css">
    <link rel="stylesheet" type="text/css" href="<%= `${baseUrl}/` %>stylesheets/CustomButton/customButton.css">
    <link rel="stylesheet" type="text/css" href="<%= `${baseUrl}/` %>stylesheets/Cards2/card2.css">
    <link rel="stylesheet" type="text/css" href="<%= `${baseUrl}/` %>stylesheets/CustomLabel/customLabel.css">
    <link rel="stylesheet" type="text/css" href="<%= `${baseUrl}/` %>stylesheets/Salas/Salas.css">
    <link rel="stylesheet" type="text/css" href="<%= `${baseUrl}/` %>stylesheets/Calendar/calendar.css">
    <link rel="stylesheet" type="text/css" href="<%= `${baseUrl}/` %>stylesheets/Usuarios/Usuarios.css">
    <link rel="stylesheet" type="text/css" href="<%= `${baseUrl}/` %>stylesheets/Computadores/computadores.css">
    <link rel="stylesheet" type="text/css" href="<%= `${baseUrl}/` %>stylesheets/CustomLabel/customComputer.css">
    <link rel="stylesheet" type="text/css" href="<%= `${baseUrl}/` %>stylesheets/Departamento-update/Departamento-update.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('sidebar',{name:sidebarName,}); %>
    <%- include('navbar'); %>