<nav>
    <div class="nav">
        <div>
        </div>
        <div class="iconName" onclick="navigateToHome()" style="cursor: pointer;">
            <img src="<%=`${baseUrl}/`%>images/icons/logo.svg" alt="logo">
            <div class="nav-text">
                Sistema
            </div>
        </div>
        <div class="navbar-buttons-holder">
            <button onclick="lightDarkMode()">
                <img id="modeImg" src="<%=`${baseUrl}/`%>images/icons/darkMode.svg" alt="lightDarkMode">
            </button>
            <button onclick="changeFontSize(1)">
                <img src="<%=`${baseUrl}/`%>images/icons/plus.svg" alt="Font+" class="buttonBW">
            </button>
            <button onclick="changeFontSize(-1)">
                <img src="<%=`${baseUrl}/`%>images/icons/minus.svg" alt="Font-" class="buttonBW">
            </button>
            <button onclick="logout()">
                <img src="<%=`${baseUrl}/`%>images/icons/logout.svg" alt="logout" class="buttonBW">
            </button>
        </div>
        
    </div>
</nav>